/** Layout **/

body {
  min-width: 240px; max-width: 542px;
  margin: 0 auto;
  box-sizing: border-box; }

.excavation {
  margin: 0 24px;
  background: url(/assets/shadow-top.png) top repeat-x,
              url(/assets/shadow-right.png) right repeat-y,
              url(/assets/shadow-bottom.png) bottom repeat-x,
              url(/assets/shadow-left.png) left repeat-y #F7F7F7; }

.content {
  margin: 0 -24px;
  padding: 1px 0;
  background-color: white;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5), 0 0 4px 2px rgba(0, 0, 0, 0.2); }

body footer {
  padding: 18px 18px 18px 18px; }

/** The root-level tabs **/

.root-tab-row {
  display: table;
  width: 100%; }

.root-tab-row .tab {
  display: table-cell;
  text-align: center;
  padding: 8px 0 8px 0; }

.root-tab-row .recessed-tab-left {
  display: table-cell;
  background: url(/assets/shadow-top.png) top repeat-x,
              url(/assets/shadow-bottom.png) bottom repeat-x,
              url(/assets/shadow-left.png) left repeat-y transparent; }

.root-tab-row .recessed-tab-middle {
  display: table-cell;
  background: url(/assets/shadow-top.png) top repeat-x,
              url(/assets/shadow-bottom.png) bottom repeat-x transparent; }

.root-tab-row .recessed-tab-right {
  display: table-cell;
  background: url(/assets/shadow-top.png) top repeat-x,
              url(/assets/shadow-right.png) right repeat-y,
              url(/assets/shadow-bottom.png) bottom repeat-x transparent; }

.root-tab-row .recessed-tab-all {
  display: table-cell;
  background: url(/assets/shadow-top.png) top repeat-x,
              url(/assets/shadow-right.png) right repeat-y,
              url(/assets/shadow-bottom.png) bottom repeat-x,
              url(/assets/shadow-left.png) left repeat-y transparent; }

.root-tab-row * {
  margin: 0; }

/** The main tabs **/

.tab-row {
  padding-top: 32px;
  margin-top: -32px;
  margin-left: -32px; margin-right: -32px;
  overflow: hidden; }

.tab-row .tab {
  display: inline-block;
  padding-left: 8px; padding-right: 8px; }

.tab-row .raised{
  background-color: white;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4), 0 0 4px 2px rgba(0, 0, 0, 0.15); }

.tab-row * {
  margin: 0; }

/** The hours table **/

.hours-table-container {
  padding: 24px 20px 0 20px; }

.hours-table {
  display: table;
  width: 100%;
  border-spacing: 4px;
  table-layout: fixed; }

.hours-table .row {
  display: table-row; }

.hours-table .row .hours {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 120px;
  line-height: 24px;
  font-size: 18px; }

.hours-table .row .weekend {
  background-color: rgba(0, 0, 0, 0.09); }

.hours-table .row .weekday {
  background-color: rgba(0, 0, 0, 0.04); }

.hours-table .row .day {
  display: table-cell;
  text-align: center;
  line-height: 24px;
  font-size: 16px; }

/** --- **/

img.full-width {
  width: 100%; }

p.full-width {
  padding-left: 0; padding-right: 0;
  margin-left: 0; margin-right: 0; }

html {
  background-color: white; }

body {
  color: #727272; }

a { color: #b73621; }

/** Typography **/

body { font-family: sans-serif; }

p {
  line-height: 24px;
  font-size: 16px;
  margin: 18px 24px; }

h2 {
  line-height: 24px;
  font-size: 22px;
  margin: 72px auto 30px auto; }
  


p, td, blockquote, ol, ul, li, h1, h2, h3 { line-height: 24px; }
p, td, blockquote, ol, ul, li, h3 { font-size: 16px; }
h1 { font-size: 21px; }
h2 { font-size: 16px; text-transform: uppercase; text-align: center; }
h3 { font-weight: bold; }
h1 { margin: 120px 0 48px 0; }
h3 { margin: 24px 0 -24px 0; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }

p { line-height: 24px; font-size: 16px; }
body footer p { line-height: 18px; font-size: 12px; margin: 18px 0 0 0; }

/** Misc **/

body { line-height: 0; font-size: 0; }
html { -webkit-text-size-adjust: 100%; /* What is this for?---I forgot. */ }

/** The gallery **/

[gallery] {
  min-height: 810px;
  margin-left: -24px; margin-right: -24px;
  text-align: center; }

[gallery] [thumbnail] {
  display: inline-block;
  width: 92px;
  opacity: 0.8;
  margin: 4px; }



iframe[special-map] { margin-left: -25px; margin-right: -24px; }
[center-aligned] { text-align: center; }
[with-double-height-margins] { margin-top: 48px; margin-bottom: 48px; }
[without-top-margin] { margin-top: 0; }
[without-vertical-margins] { margin-top: 0; margin-bottom: 0; }
[horizontally-centered] { margin-left: auto; margin-right: auto; }

hr {
  border: 0; border-bottom: 1px solid #AFAFAF; }

td {
  line-height: 24px;
  font-size: 16px; }

li {
  line-height: 24px;
  font-size: 16px;
  margin: 0; }

body header {
  text-align: center;
}
