---
---
<!DOCTYPE html>
<html>
  <head>
    {% include title.html %}
    <title>Elizabeth Schindler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/gsap--tween-lite.js"></script> <!-- TODO: Move this to be within `gallery.js`. -->
    <script type="text/javascript" src="/gsap--css-plugin.js"></script> <!-- TODO: Move this to be within `gallery.js`. -->
    <script type="text/javascript" src="/gallery.js"></script>
  </head>

  <body>
    <div class="excavation">
    <header>

      <!-- The 'root' tabs -->
      {% include root-tab-row.html %}

      <!-- The logo -->
      {% include logo.html %}

      <!-- The tabs for the main navigation -->
      <div class="tab-row">
        {% include tab.html name="Home" %}
        {% include tab.html name="Collections" %}
        {% include tab.html name="Location" %}
        {% include tab.html name="Hours" %}
        {% include tab.html name="Contact" %}
      </div>

    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      <p without-top-margin>
        &copy; Elizabeth Schindler Couture, Inc.<br>
        Site by <a href="http://radicle.io" target="_blank">Radicle Inc.</a>
        Site feedback is welcomed; please email <a href="mailto:raphael@radicle.io">raphael@radicle.io</a>.
      </p>
    </footer>
    </div>
  </body>
</html>
